Goal->save Source
save->#14
Source->ClassDeclarations MainClass
MainClass->public class Identifier defClass { public static void main defMain ( ) { VarDeclarations Statements } }
defClass->#23
defMethod->#24
defMain->#33
ClassDeclarations->ClassDeclaration ClassDeclarations#
ClassDeclarations->#
ClassDeclaration->class Identifier defClass Extension { FieldDeclarations MethodDeclarations }#25
Extension->extends Identifier#26
Extension->#
FieldDeclarations->FieldDeclaration FieldDeclarations#
FieldDeclarations->#
FieldDeclaration->static Type Identifier ;#27
VarDeclarations->VarDeclaration VarDeclarations
VarDeclarations->
VarDeclaration->Type Identifier ;#28
MethodDeclarations->MethodDeclaration MethodDeclarations
MethodDeclarations->
MethodDeclaration->public static Type Identifier defMethod ( Parameters ) { VarDeclarations Statements return GenExpression ; }#29
Parameters->Type Identifier defParam Parameter#
defParam->#30
Parameters->
Parameter->, Type Identifier defParam Parameter#
Parameter->#
Type->boolean#31
Type->int#32
Statements->Statements Statement
Statements->
Statement->{ Statements }
Statement->if ( GenExpression ) save Statement else JPF_save Statement#17
JPF_save->#16
Statement->while lbl ( GenExpression ) save Statement#15
lbl->#13
Statement->System.out.println ( GenExpression ) ;#18
Statement->Identifier checkid = GenExpression ;#9
checkid->#1
pid->#2
GenExpression->Expression#
GenExpression->RelExpression#
Expression->Expression + Term#10
Expression->Expression - Term#11
Expression->Term#
Term->Term * Factor#12
Term->Factor#
Factor->( Expression )#
Factor->Identifier#1
Factor->Identifier . Identifier#3
Factor->Identifier . Identifier startCall ( Arguments )#7
startCall->#6
Factor->Kpid true#
Kpid->#4
Factor->Kpid false#
Factor->intPid Integer#
intPid->#5
RelExpression->RelExpression && RelTerm#21
RelExpression->RelTerm
RelTerm->Expression == Expression#19
RelTerm->Expression < Expression#20
Arguments->GenExpression arg Argument#
arg->#8
Arguments->#
Argument->, GenExpression arg Argument#
Argument->
Identifier->pid ID
Integer->NUM
